.video {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: var(--spacing-section) 48px;
  align-items: center;
  padding: var(--spacing-section) 24px;
  max-width: var(--width-content);
  margin: 0 auto;
}

.video .video-poster img {
  width: 100%;
  height: auto;
  display: block;
}

.video h2 {
  font-size: var(--font-size-h2);
  font-weight: var(--font-weight-h2);
  line-height: var(--line-height-h2);
  margin: 0 0 12px;
}

.video .video-embed a:any-link {
  display: inline-block;
  background-color: var(--color-brand-primary);
  color: #fff;
  font-size: var(--font-size-button);
  font-weight: var(--font-weight-button);
  padding: 12px 24px;
  border-radius: 4px;
  text-decoration: none;
  margin-bottom: 12px;
}

@media (width < 768px) {
  .video {
    grid-template-columns: 1fr;
  }
}
